@font-face {
    font-family: roboto-bold;
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: roboto-regular;
    src: url(../fonts/Roboto-Regular.ttf);
}

* {
    font-family: roboto-regular;
}

header .cart-icon {
    margin: auto;
    margin-right: 16px;
    font-size: 20px;
}

.title-name {
    margin-left: 30px;
}

.title--name {
    margin: auto;
}

.inner-header {
    margin-bottom: 100px;
}

.main-section img {
    width: 100%;
    object-fit: cover;
    position: absolute;
    height: 400px;
    z-index: -1;
}

.main-section .main-heading {
    font-family: Roboto-bold;
    font-weight: bold;
    font-size: 70px;
    line-height: 100px;
    color: #000000;
    padding-top: 300px;
}

.main-section .main-para {
    width: 50%;
    margin-top: 25px;
}

.main-btn {
    background-color: #e36059;
    border-radius: 2px;
    border: 1px solid #e36059;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 14px;
    padding: 15px 38px;
    text-decoration: none;
    margin-top: 10px;
    transition: all 0.4s ease-in-out;
}

.main-btn:hover {
    background-color: #fff;
    color: #e36059;
}

.main-btn-1 {
    background-color: #ffffff;
    border-radius: 2px;
    border: 1px solid #e36059;
    display: inline-block;
    cursor: pointer;
    color: #e36059;
    font-family: Arial;
    font-size: 14px;
    padding: 15px 38px;
    text-decoration: none;
    margin-top: 10px;
    transition: all 0.4s ease-in-out;
}

.main-btn-1:hover {
    background-color: #e36059;
    color: #fff;
}

.about-section {
    margin-top: 200px;
}

.about-heading {
    font-size: 36px;
    font-weight: 700;
    color: #ffbb00;
    font-family: roboto-bold;
}

.about-section .content {
    padding-top: 100px;
}

.about-para {
    width: 50%;
}

.about-section .row {
    padding-top: 80px;
}

.about-section span {
    font-weight: bold;
}

.about-section .deploy {
    color: #555;
    font-size: 18px;
}

.about-section img {
    border-radius: 10px;
    box-shadow: 2px 2px 15px #b3b3b3;
}

.about-section .provide-heading {
    font-size: 30px;
    font-weight: 700;
}

.about-section .provide-para {
    width: 85%;
}

.learn-more {
    text-decoration: none;
    color: #e36159;
    margin-top: 20px;
}

.about-section .learn-more-icon {
    font-size: 12px;
    margin-left: 2px;
}

.soynet-section {
    padding-top: 180px;
    position: relative;
}

.soynet-section .soynet-para {
    width: 60%;
}

.soynet-section span {
    font-weight: bold;
}

.customer-section {
    padding-top: 180px;
}

.customer-section p {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #000000;
}

.customer-section .card figure {
    width: 100%;
    height: 250px;
    background: #FAFAFA;
    border-radius: 5px;
    position: relative;
    margin-bottom: 20px;
}

.customer-section .card figure img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.customer-section .card h1 {
    font-family: Roboto-bold;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
}

.customer-section .card .pill {
    font-family: Roboto-bold;
    font-weight: 500;
    font-size: 12px;
    line-height: 30px;
    color: #E36159;
    background: rgba(227, 97, 89, 0.1);
    border-radius: 5px;
    padding: 0 6px;
    height: fit-content;
    margin-left: 10px;
}

.customer-section .card h6 {
    font-weight: normal;
    color: #000000;
    margin-bottom: 20px;
}

.customer-section .card a {
    font-family: Roboto-bold;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #E36159;
    text-decoration: none;
}

.customer-section .card a i {
    transition: all 0.4s ease-in-out;
    margin-left: 5px;
}

.customer-section .card a:hover i {
    margin-left: 10px;
}

.partner-section {
    padding-top: 180px;
}

.partner-section .partner-para {
    width: 50%;
}

.partner-section span {
    font-weight: bold;
}

.partner-section img {
    min-height: 60px;
}

.image-section {
    position: relative;
}

.image-section .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.image-section .mask-main {
    font-family: Roboto-bold;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.image-section .mask-main-heading {
    font-family: Roboto-bold;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    color: #FFFFFF;
}

.image-section .contact-btn {
    font-family: Roboto-bold;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #E36159;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 15px 45px;
}

footer {
    padding-top: 60px;
    background-color: #000;
    padding-bottom: 25px;
}

footer h6 {
    font-family: Roboto-bold;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 5px;
}

footer ul {
    list-style: none;
}

footer .para {
    width: 80%;
}

footer p,
footer a {
    margin: 0;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}

footer a:hover {
    color: #e36159;
}

footer .divider {
    height: 2px;
    background: #E36159;
    width: 100%;
    margin-top: 75px;
    margin-bottom: 15px;
}

footer a i {
    color: #000;
    background: #Fff;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
}

footer .accordion-item {
    background: transparent;
}

footer .accordion-header {
    background: transparent;
}

footer .accordion-item button {
    background: transparent !important;
    color: #fff !important;
    padding: 20px 0;
    border-bottom: 1px solid #fff;
}

footer .accordion-button:focus {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #fff;
    box-shadow: none;
    outline: none;
}

.blog-main h1 {
    font-weight: bold;
    font-size: 60px;
    line-height: 80px;
    color: #000000;
    margin-bottom: 5px;
}

.blog-main h6 {
    font-size: 16px;
    line-height: 30px;
    color: #000000;
    margin: 0;
}

.blog-main .content {
    margin-top: 50px;
}

p.date {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 5px;
    color: #b3b3b3;
}

.card-section {
    margin-top: 100px;
    margin-bottom: 100px;
}

.card-section a {
    text-decoration: none;
}

.card {
    cursor: pointer;
}

.card .content {
    margin-top: 15px;
}

.card .content h1 {
    font-size: 22px;
    line-height: 28px;
    color: #000000;
}

.card .content h6 {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #000000;
}

.blog-details-section .date {
    margin-top: 50px;
    margin-bottom: 5px;
}

.blog-details-section h1 {
    font-family: roboto-bold;
    font-weight: bold;
    font-size: 60px;
    line-height: 80px;
    color: #000000;
}

.blog-details-section .content {
    margin: 30px 0 70px;
}

.blog-details-section .content p {
    font-size: 16px;
    line-height: 30px;
    color: #000000;
    text-align: justify;
}

.signin-section .main-img {
    height: 100vh;
    object-fit: cover;
}

.signin-section .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.signin-section .content h1 {
    font-family: Roboto-bold;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    color: #000000;
    margin-bottom: 30px;
}

.input-cont {
    margin-bottom: 20px;
}

.input-cont label {
    font-size: 16px;
    color: #000000;
    margin-bottom: 10px;
}

.input-cont input,
.input-cont textarea {
    background: #FFFFFF;
    border: 1.5px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 2px;
    width: 100%;
    font-size: 15px;
    color: #CECECE;
    padding: 15px 20px;
}

.input-cont input:focus,
.input-cont textarea:focus {
    outline: none;
}

.signin-section a {
    font-size: 14px;
    text-decoration-line: underline;
    color: #4E5968;
}

.signin-section button {
    margin: 50px 0 25px;
}

.signin-section p {
    font-size: 15px;
    color: #6B7684;
}

.signin-section p a {
    color: #E36159;
    font-weight: bold;
    font-family: roboto-bold;
    text-decoration: none;
}

.swiper {
    width: 100%;
    height: 100%;
    padding-top: 60px;
    padding-bottom: 100px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    opacity: 0.75;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    transform: scale(0.9);
    transition: all 0.4s ease-in-out;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide-active {
    opacity: 1;
    transform: scale(1);
}

.swiper-button-next,
.swiper-button-prev {
    color: #E36159;
    bottom: 0;
    top: unset;
}

.swiper-button-prev {
    left: 30%;
}

.swiper-button-next {
    right: 30%;
}

.market-section {
    padding-top: 120px;
}

.market-section .heading-cont {
    width: 50%;
}

.market-section .heading-cont h1 {
    font-family: Roboto-bold;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #FFBB00;
}

.market-section .heading-cont h6 {
    font-family: Roboto-regular;
    font-size: 16px;
    line-height: 30px;
    color: #000000;
}

.market-section .card-cont {
    padding-top: 50px;
}

.market-section a {
    text-decoration: none;
}

.market-section .card .d-flex {
    align-items: center;
}

.market-section .card h1 {
    font-family: Roboto-bold;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    margin: 0;
}

.market-section .card h6 {
    font-size: 16px;
    line-height: 30px;
    margin: 10px 0 0;
    color: #000000;
}

.market-section .card p {
    font-family: Roboto-bold;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #E36159;
    margin: 20px 0 0;
}

.market-section .card .pill {
    font-family: Roboto-bold;
    font-weight: bold;
    font-size: 12px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 6px 12px;
    background: rgba(227, 97, 89, 0.1);
    border-radius: 3px;
    color: #E36159;
}

.price-section{
    padding: 90px 0;
}

.price-section .card{
    padding: 30px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 15px #ddd;
    min-height: 490px;
}

.price-section ul{
    list-style: none;
} 

.price-section ul li{
    margin-bottom: 10px;
}

.price-section h6 {
    font-family: Roboto-bold;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    text-align: center;
}

.price-section li {
    font-size: 16px;
    line-height: 30px;
    color: #000000;
}

.price-section li i {
    color: #E36159;
    margin-right: 10px;
}

.price-section .main-btn-1{
    border-left: 0;
    border-right: 0;
    position: absolute;
    bottom: 20px;
    width: 100%;
    left: 0;
    border-radius: 0;
}

.contact-section{
    padding-top: 100px;
}

.contact-section h1{
    font-family: Roboto-bold;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    color: #000000;
}

.contact-section p{
    font-size: 15px;
    color: #6B7684;
}

.contact-section h2{
    font-family: Roboto-bold;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
    color: #000000;
    margin: auto 0;
}

.contact-section .cont{
    padding-top: 70px;
}

.contact-section ul{
    list-style: none;
    padding-top: 30px;
}

.contact-section ul h5{
    font-family: roboto-bold;
    font-weight: bold;
}

.contact-section ul p{
    margin-left: 15px;
}

@media screen and (max-width: 1024px) {
    .main-section .main-para {
        width: 75%;
    }

    .about-section .content {
        padding: 0;
    }

    .soynet-section .soynet-para {
        width: 75%;
    }
}

@media screen and (max-width: 996px) {
    .main-section .main-heading {
        font-size: 60px;
        line-height: 90px;
    }

    .main-section .main-para {
        width: 100%;
    }

    .about-para {
        width: 75%;
    }

    .about-section .content {
        padding-top: 30px;
    }

    .customer-section p {
        width: 100% !important;
    }
}

@media screen and (max-width:500px) {
    .main-section img {
        position: unset;
    }

    .main-section .main-heading {
        padding-top: 60px;
        font-size: 30px;
        line-height: 45px;
    }

    .main-section .main-para {
        font-size: 14px;
        line-height: 30px;
    }

    .about-heading {
        font-size: 24px;
        line-height: 28px;
    }

    .about-para {
        width: 100%;
        font-size: 14px;
        line-height: 30px;
    }

    .about-section .provide-heading {
        font-size: 18px;
        line-height: 24px;
    }

    .about-section .provide-para {
        width: 100%;
        font-size: 14px;
        line-height: 30px;
    }

    .soynet-section .soynet-para {
        width: 100%;
        font-size: 14px;
        line-height: 30px;
    }

    .card .content h6 {
        font-size: 14px;
    }

    .partner-section .partner-para {
        width: 100%;
        font-style: 14px;
    }

    .image-section .mask-main {
        font-size: 16px;
        line-height: 19px;
    }

    .image-section .content {
        width: 100%;
    }

    .image-section .mask-main-heading {
        font-size: 34px;
        line-height: 45px;
    }

    .image-section .mask-img img {
        height: 300px;
        object-fit: cover;
    }
}